# Python bytecode e caches
__pycache__/
*.pyc

# Banco SQLite local
db.sqlite3

# Ambiente virtual
venv/
.venv/

# Configuração do VSCode
.vscode/

# Arquivo de variáveis de ambiente
.env
.github
.idea/

# Migrações – versionar apenas o __init__.py
**/migrations/*
!**/migrations/__init__.py
**/migrações/*
!**/migrações/__init__.py